/*
 *  (c) YanoCreative 2014
 *  
  */

html { background-color: #e5e5e5; }
body { font-family: 'lincoln';  background: transparent; }
h1 { margin: 0px; }
h2 { margin: 0px; }
h3 { margin: 0px; }
h4 { margin: 0px;  }
h6 { margin: 0px; }
ol,ul {  margin: 0px; }
p { margin: 0px; font-family: 'gearedslab'; }
span { margin: 0px; }
em { color: #FFF; }

.main-body {  margin: 0px auto; }
.wrapper { max-width: 1024px; margin: 0px auto; padding: 0px 12px; height: 100%; clear: both; }
.nav { z-index: 1; top:32px; left: 0px; right: 0px; position: fixed; height: 92px; display: block; background-color: rgba(220,216,209,0.90); clear: both;}


/*.nav .left { float: left; line-height: 92px; }*/
/*.nav .right { float: right; line-height: 92px; }*/

.nav .left { float: left; line-height: 92px; position: fixed; left: 10%; }
.nav .right { float: right; line-height: 92px; position: fixed; right: 10%; }


.nav .button { display: none; }
.nav img { vertical-align: middle; }
.nav ul { margin: 0px; color: #cad6da; font-size: 24px; list-style: none; }
.nav ul > div > li { display: inline-block; margin: 0px 0px 0px 18px; cursor: pointer; }
.nav ul > div, .nav ul > a { display: inline-block; color: #352819; text-decoration: none; /*font-family: 'avenir-next-bc';*/ }
.nav ul > div:hover > li, .nav ul a:hover { color: #b38654; list-style: none; }
.nav ul > a { margin: 0px 0px 0px 18px; }
/*drop-down*/
.nav ul > div > li > ul { display: block; position: absolute; top: 52px; /*left: 100%;*/ left: 140%; right: -100%; text-align: center; padding: 0px; }
.nav ul > div > li:hover > ul,.nav ul a li:active > ul { left: 0%; right: 0%; display: block; position: fixed; top: 84px;  }
.nav ul > div > li > ul > div { background-color: rgba(220,216,209,0.90); padding: 24px; display: inline-block; margin-top: 40px; height: 144px;  }
.nav ul > div > li > ul > div > li:first-of-type { margin: 0px -4px 0px -4px; }
.nav ul > div > li > ul > div > li:last-of-type {}
.nav ul > div > li > ul > div > li { position: relative; display: inline-block; width: 12.5%; max-width: 96px; vertical-align: top; height: 100%;  margin: 0px -4px 0px 0px; overflow: hidden; }
.nav ul > div > li > ul > div > li > a > span { display: block; opacity: 0; width: 100%; height: 100%; top:0; color: #FFF; background-color: rgba(51,42,31,0.75); font-size: 16px; }
.nav ul > div > li > ul > div > li:hover > a > span { position: absolute; opacity: 1; }
.nav ul > div > li > ul > div > li > a > img { width: 100%; height: 100%; }

.nav ul > div > li > div { display: block; position: absolute; top: 52px; left: 100%; right: -100%; text-align: center; padding: 0px; }
.nav ul > div > li:hover > div { left: 0%; right: 0%; display: block; }
.nav .one-third { width: 33.3332%; }

/*nav extras*/
.logo { cursor: pointer; }
.logo-small { cursor: pointer; display: none;  }
.bottom-nav { /*bottom:15%;*/ top: 32px; }

.loader { position: absolute; min-height:50px; height: 100%; width: 100%; z-index: 1; background-color: rgba(0,0,0,0.5); }
.loader img { position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; }
.cont { height: 100%; }
.header { min-height: 320px; background: url('') no-repeat center center; /*Add 'fixed' to keep it fixed*/ -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}


/*.header .wrapper { padding-top: 160px; clear: both; position: relative; max-width: 1024px; }*/
.header .wrapper {  padding-top: 160px; position: fixed; right: 10%; }
.header .wrapper.colors-page { right: initial; }

.header .left { position: relative; text-align: center; margin: 0px 2% 0px 0px;  padding: 5% 5% 4px; width: 58%;  /*min-height: 406px;*/ opacity: 1; float: right; background-color: rgba(220,216,209,0.90); }
.header .left h1 { font-size: 60px; margin: 0px 0px 0px 0px; }
.header .left h2 { font-size: 36px; }
.header .left img { margin: 0px 0px 24px 0px; }
.header .left p { font-size: 20px; }
.header .left .owl-theme .owl-controls { margin-top: 24px; }
.header .left .toggle-button { position: absolute; top:4px; right:4px; cursor: pointer; }

.header .right { position: relative; width: 40%; float: right; text-align: center; }
.header .right .top { display: table; width: 100%; clear: both; padding: 8px 8px; background-color: rgba(220,216,209,0.90);}
.header .right .top > div { display: table-cell; }
.header .right .top h3 { display: inline-block; font-size: 36px; line-height: 32px; vertical-align: middle; padding-top: 4px; }
.header .right .body { text-align: left; background-color: rgba(220,216,209,0.90);}
.header .right .body .four { width: 24.75%; }
.header .right .body .third { width: 33.3332%; }
.header .right .body a { position: relative; vertical-align: middle; margin: auto; display: inline-block; margin: 1px -2px 0px 0px; }

.header .right .body a span { display: inline-block; opacity: 0; position: absolute; left:0; top:0; right:0; bottom:0; text-align: center; padding: 35% 0; background-color: rgba(51,42,31,0.75); color: #FFF; font-size: 16px; font-family: 'gearedslab'; }
.header .right .body a:hover span { opacity: 1; display: block; }

.header .right .body img { width: 100%; height: auto; }
.header .right .bottom { padding: 0px 8px; background-color: rgba(220,216,209,0.90); }
.header .right .bottom.right-align { text-align: right; }
.header .right .bottom.left-align { text-align: left; }
.header .right .bottom a:last-of-type h2 { /*border-left: 1px solid #a8a5a0; */}
.header .right .bottom a:last-of-type h2.hide { visibility: hidden; }
.header .right .bottom h2 { display: inline-block; font-size: 60px; line-height: 50px; padding: 8px 0px 0px; text-align: center; width: 35%; }

.header .right .bottom a { text-decoration: none; color: inherit; }
.header .right .bottom a:hover { color: #FFF; }
.header .right .bottom .left-arrow { float: left; margin-top: 12px; cursor: pointer; }
.header .right .bottom .left-arrow:hover, .header .right .bottom .right-arrow:hover { opacity: 0.25; }
.header .right .bottom .right-arrow { float: right; margin-top: 12px; cursor: pointer; }
.header .right .buy { display: block; margin-top: 8px; background-color: #352819;color: #FFF; text-transform: uppercase; text-decoration: none; font-size: 48px; padding: 14px 0px 10px; line-height: 36px; }
.header .right .buy:hover { opacity: .5; }
.header .right .eye { position: absolute; left: -32px; top: -8px; margin-top: 8px; opacity: 0; width: 24px; }
.header .right .eye:hover { cursor: pointer; }

.trim.body { background: url('') fixed center center; }
.trim.body .wrapper { padding: 160px 12px; max-width: 720px; }
.trim.body h1, .trim.body h2 { font-size: 64px; text-transform: uppercase; text-align: left; color: #352819; margin-bottom: 48px; }
.trim.body h2 { font-size: 36px; margin-bottom: 12px; }
.trim.body .cat { display: inline-block; width: 20%; margin: 0px -4px 0px 0px; text-align: center; padding: 0px 6px;}
.trim.body .cat img { display: inline-block; max-width: 100%;  }
.trim.body .cat span { display: block; margin: 12px 0px; font-family: 'gearedslab'; font-size: 18px; color: #352819; }
.trim.body .cat:hover { text-decoration: none; opacity: .5; }
.trim.body .left, .trim.body .right { display: inline-block; width: 50%; margin: 0px -4px 0px 0px; text-align: center; }
.trim.body .left { padding-right: 24px; }
.trim.body .right { padding-left: 24px; vertical-align: top; text-align: right; }
.trim.body .bottom-item { margin: 96px 0px; position: relative; }
.trim.body .bottom-item img { max-width: 100%; }
.trim.body .bottom-item .more { font-family: 'gearedslab'; font-size: 18px; color: #352819; text-decoration:none; }
.trim.body p { font-family: 'gearedslab'; margin: 0px 0px 12px; color: #352819; font-size: 21px; text-align: left; }
.trim.body .big-button { display: inline-block; margin: 24px 0px; max-width: 340px; width: 100%; text-align: center; opacity: 1; background-color: #352819; color: #fff; font-size: 36px; text-transform: uppercase; padding: 6px 0px 2px; }
.trim.body .big-button:hover { opacity: 0.75; color: #fff; text-decoration: none; }
.up-button { position: fixed; bottom: 0px; right: 12px; }
.break { display: block; height: 1px; background-color: #000; opacity: .1; }

.footer { width: 100%; display: block; background-color: #d9d9d9; min-height: 96px; padding: 24px 0px;  }
.footer span { float: right; color: #666666; margin: 0px 12px 12px; line-height: 32px; vertical-align: middle; }
.footer span a { text-decoration: none; color: #666666; }

.footer-fixed { width: 100%; position: fixed; left:0; right:0; bottom:0; }
.fade-effect {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dim { opacity: 1; }
.dim:hover { opacity: 0.5; }

/*Owl Carousel Override*/
.owl-single, .owl-carousel .owl-wrapper-outer,
.owl-carousel .owl-wrapper, .owl-carousel .owl-item,


/*.header .wrapper, .header .item {  position: relative; }*/


 .header .item { overflow-x: hidden; overflow-y:hidden; }
.owl-single .bg-img {
  width: 100%;
  min-height: 640px;
  background: url('') no-repeat left center; /*Add 'fixed' to keep it fixed*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.owl-single.owl-theme .owl-controls .owl-buttons .owl-next { border-radius: 0px; background: url('../img/slider-right.png'); padding: 0px; right: 0px; width: 32px; height: 32px; position: absolute; bottom: 2%; }
.owl-single.owl-theme .owl-controls .owl-buttons .owl-prev { border-radius: 0px; background: url('../img/slider-left.png'); padding: 0px; left: 0px; width: 32px; height: 32px; position: absolute; bottom: 2%; }
.owl-theme .owl-controls {  }
.owl-theme .owl-controls .owl-page span { background: #FFF; }
.owl-theme .owl-controls .owl-page.active span { background: #352819; }
.owl-theme .owl-controls .owl-page.active { color: #352819; }
.owl-theme .owl-controls .owl-page span:hover { background: #352819; }

/*Magnific Popup Override*/
.zoom-anim-dialog {
  padding:0px;
  max-width: 600px;
  margin:40px auto;
  position:relative;
  color: #c9d6da;
}
.zoom-anim-dialog > img { max-width: 100%; min-height: 378px; cursor: pointer;  }
.mfp-img-mobile .mfp-image-holder { cursor: default; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor: pointer; }
.zoom-anim-dialog input,.zoom-anim-dialog span { margin-bottom: 8px; display: block; }
.mfp-close-btn-in .mfp-close,.mfp-close:active {  color: #FFF; top: 0; }
.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close { background: none; margin:0px; cursor: pointer; }
.zoom-anim-dialog h1 { font-size: 42px; line-height: 38px; margin: 0 0 16px;}
.zoom-anim-dialog h2 { font-size: 30px; line-height: 28px; margin: 0 0 16px; color: #c9d6da; letter-spacing: 2px; }
.zoom-anim-dialog p  { font-size: 16px; line-height: 21px; margin: 0; }
.zoom-anim-dialog ul { padding-left: 18px; }

.wrapper.colors-page { text-align: center; position: relative; max-width: 960px; }
.colors-page .big-button { display: inline-block; opacity: 1; background-color: #352819; color: #fff; font-size: 44px; text-transform: uppercase; padding: 2.5% 10%; }
.colors-page .big-button:hover { opacity: 0.75; color: #fff; text-decoration: none; }
.colors-page h1 { font-size: 80px; margin: 64px 0px 12px; color: #fff; text-transform: uppercase;}
.colors-page .camera-icon { margin-top: 24px; display: block; }
.colors-page .left-arrow { position: absolute; left:12px; top:280px; cursor: pointer; }
.colors-page .right-arrow { position: absolute; right:12px; top:280px; cursor: pointer; }
.sub-nav { background-color: #e1ded8; display: block; position: relative; padding: 32px 0px 32px 48px; }
.sub-nav .left { width: 50%; display: inline-block; }
.sub-nav .right { width: 50%; display: inline-block; margin-right:-4px; }
.sub-nav span, .sub-nav a { display: inline-block; color: #352819; font-size: 21px; text-transform: uppercase; border-right: 1px solid #352819; padding: 0px 6px; cursor: pointer; min-width: 72px; text-align:center; }
.sub-nav span:last-of-type { border: none; }
.sub-nav span:hover { background-color: rgba(53,40,25,0.25); opacity: 0.5 }
.sub-nav a { background-color: #352819; padding: 12px 24px; color: #FFF; text-decoration: none; margin-left: 64px; white-space: nowrap; }
.sub-nav .left-arrow  { position: absolute; top: 42px; left: 12px; cursor: pointer; }
.sub-nav .right-arrow { position: absolute; top: 42px; right: 12px; cursor: pointer; }

@media(max-width:1024px){
	.header .wrapper { padding-top: 160px; clear: both; position: relative; max-width: 800px; right: 0; }
	.nav .left { float: left; line-height: 92px; position: relative; left: initial; }
	.nav .right { float: right; line-height: 92px; position: relative; right: initial; }

  .bottom-nav .wrapper { padding: 0px 36px; }
  .trim.body .wrapper { padding: 160px 36px; }
}
@media(max-width:960px){
  
  
  .header .right .top img { max-width: 48px; }
  .header .right .top .left-arrow { float: left; margin-top: 16px; }
  .header .right .top .right-arrow { float: right; margin-top: 16px; }
  .header .right .bottom h2 { font-size: 48px;  }
}
@media(max-width:800px){
  .nav ul > div > li, .nav ul > a { margin: 0px 0px 0px 4px; font-size: 20px; }
  
}
@media(max-width:640px){
  .nav { top: 0; }
  .nav .button { display: block; margin: 30px 0px 30px auto; } 
  .nav ul {
    background-color: rgba(220,216,209,0.90);
    overflow: hidden;
    margin: -0px 200% 0px 0px;
    text-align: center;
    padding: 20px;
    opacity: 0;
    display: none;
  }
  .nav ul > a { display: block; line-height: 48px; }
  .nav ul a { margin: 0px 0px 0px 0px; }
  .nav ul > div > li { display: none; padding: 10px 0px; margin: 0px; line-height: 18px; overflow: hidden;}
  .nav:hover ul > div > li { display: inline-block; padding: 0px; }
  .nav:hover ul > div > li.navi { display: inline-block; margin: 0px 8px; padding: 8px 6px 6px; border: 1px solid #352819; }
  .nav:hover ul { display: block; float: right; margin: 0px -40px 0px 0px; opacity: 1; }
  .nav .right { height: 92px; }
  .nav:hover .right { height: auto; }
  .nav:hover .button { opacity: 0.15; }
  
  .nav:hover ul > div > li > ul { display: block; top: -32px;  bottom: -46px; width: 100%; padding-top: 32px; background-color: transparent;}
  .nav:hover ul > div > li:hover > ul { display: block; right: 16px; height: 170px; }
  .nav ul > div > li > ul > div { margin-top: 0px; padding: 0; width: 100%; height: 92px; overflow: hidden; }
  .nav ul > div > li > ul > div > li {  width: 12.5%; display: inline-block; height: 100%;}
  .nav ul > div > li > ul > div > li > a { display: block; height: 100%; }
  .nav ul > div > li > ul > div > li > a > img { width: 100%; height: 100%; }
  .nav ul > div > li > ul > div > li > a > span { font-size: 0px; } /*completely hide text*/
  .nav ul > div > li > ul > div > li:hover > a > span {  }
  .nav .one-third { width: 12.5%; }
  
  .header .wrapper { padding-top: 104px; }
  .header .left { width: 100%; margin: 6px 0px 0px; }
  .header .right { width: 100%; }
  .header .right .top img { max-width: 64px; }
  .header .right .eye { top: auto; left: auto; right: 0; }
  .sub-nav { text-align:center; padding: 30px 12px; }
  .sub-nav .left, .sub-nav .right { width: 100%; }
  .sub-nav a { display: inline-block; margin: 12px 0px 0px; }
  .zoom-anim-dialog > img { min-height: initial; }
  
  .footer { text-align: center; }
  .footer span { float: none; display: block; }
  .logo { display: none; }
  .logo-small { display: inline-block;  }
  .up-button { position: fixed; bottom: 0px; right: initial; left: 12px; }
}
@media(max-width:480px){
  .header .wrapper {  }
  .header .right .top img { max-width: 36px; }
  .colors-page .big-button { padding: 2.5% 5%; }
  .colors-page .left-arrow { width: 24px; height: auto; }
  .colors-page .right-arrow { width: 24px; height: auto; }
  
  .nav:hover ul,.nav:active ul { margin: 0px -12px 0px 0px;}
  
  .bottom-nav .wrapper { padding: 0px 12px; }
  .trim.body .wrapper { padding: 128px 12px; }
}
/*custom fonts*/
@font-face {
  font-family: 'lincoln';
  src: url('../fonts/abrahamlincoln-webfont.eot');
  src: url('../fonts/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abrahamlincoln-webfont.woff') format('woff'),
       url('../fonts/abrahamlincoln-webfont.ttf') format('truetype'),
       url('../fonts/abrahamlincoln-webfont.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gearedslab';
  src: url('../fonts/gearedslab-webfont.eot');
  src: url('../fonts/gearedslab-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gearedslab-webfont.woff') format('woff'),
       url('../fonts/gearedslab-webfont.ttf') format('truetype'),
       url('../fonts/gearedslab-webfont.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gearedslab-light';
  src: url('../fonts/gearedslab-light-webfont.eot');
  src: url('../fonts/gearedslab-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gearedslab-light-webfont.woff') format('woff'),
       url('../fonts/gearedslab-light-webfont.ttf') format('truetype'),
       url('../fonts/gearedslab-light-webfont.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style: normal;
}