.header h1 { font-size: 120px; color: #FFF; display: inline-block; text-shadow: 0px 0px 7px rgba(0,0,0,0.5); }
.header img { display: inline-block; vertical-align: top; max-height: 120px; }
.header p { font-size: 22px; color: #FFF; line-height: 38px; margin-bottom: 48px; }
.header .wrapper { max-width: 640px; }


@media(max-width:1024px){ }
@media(max-width:960px){
  .header h1 { font-size: 80px; }
  .header img { max-height: 80px; }
}
@media(max-width:640px){
  .header h1 { font-size: 64px; }
  .header img { max-height: 64px; }
  .header p { font-size: 18px; line-height: 28px; }
}
@media(max-width:480px){
  .header h1 { font-size: 52px; }
  .header img { max-height: 52px; }
}